<div class="animated zoomIn" >
<!--Section: Features v.1-->
<section class="section feature-box ">

    <!--Section heading-->
    <h1 class="section-heading pt-4">BNG Mugs</h1>
    
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

    <!--Grid row-->
    <div class="row features-big">

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <img src="https://cdn.shopify.com/s/files/1/1206/8424/products/Coffee_Mug_40a_500x500.jpg?v=1494295579" class="img-thumbnail border-0" style="width: 600px; height: 400px; object-fit:scale-down;" alt="glass mug">
            <h5 class="feature-title">Glass Mugs</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <img src="https://cdn.shopify.com/s/files/1/1206/8424/products/Travel_Mug_Hero_e77afe65-02ca-4905-b4e6-c0682f30ea66_700x700_crop_bottom.jpg?v=1512572045" class="img-thumbnail border-0" style="width: 600px; height: 400px; object-fit:scale-down;" alt="travel mug">
            <h5 class="feature-title">Travel Mugs</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
            <img src="http://cdn.shopify.com/s/files/1/1206/8424/products/kanye_with_shadow_grande.jpg?v=1494295588" class="img-thumbnail border-0 " style="width: 600px; height: 400px; object-fit:scale-down;" alt="coffee mug">
            <h5 class="feature-title">Coffee Mugs</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.1-->
</div>     

